
.corporate-color-bg{
    background-color: $corporate-color;
}

.corporate-color2-bg{
    background-color: $corporate-color2;
}

.corporate-color3-col{
    color: $corporate-color3;
}
.corporate-color-col{
    color: $corporate-color;
}
body{
    background-color: $corporate-color;
    color: white;
    height: auto;
    font-family: "Open Sans", sans-serif;
}

